@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* animation for Popupbar component */
@keyframes popItUp {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* for login button of Loginpage */
@keyframes loadingLogin {
  0%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}