@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* animation for Popupbar component */
@keyframes popItUp {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* for login button of Loginpage */
@keyframes loadingLogin {
  0%{
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}

nav a{
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto 20px auto;
}

nav .active{
  border-radius: 40%;
  border: 2px solid #00cdb8;
}
